@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .bg-primary-blue-1 { 
        background-color: #DBEEF3;
    }

    .bg-primary-blue-2 {
        background-color: #118AB2;
    }

    .bg-primary-blue-3 {
        background-color: #073B4C;
    }

    .secondary-red {
        background-color: #EF476F;
    }

    .secondary-yellow {
        background-color: #FFD166;
    }

    .secondary-green {
        background-color: #06D6A0;
    }
    
    .bg-off-white {
        background-color: #FAF9F6;
    }

    .bg-grey-1 {
        background-color: #CCCCCC;
    }
    
    .bg-grey-2 {
        background-color: #929292;
    }

    .bg-grey-3 {
        background-color: #575757;
    }

    .bg-off-black {
        background-color: #1F1F21;
    }

    .text-off-white {
        color: #FAF9F6;
    }
}