@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .priBlue1 {
        background-color: #118AB2;
    }

    .priBlue2 {
        background-color: #073B4C;
    }

    .secRed {
        background-color: #EF476F;
    }

    .secYellow {
        background-color: #FFD166;
    }

    .secGreen {
        background-color: #06D6A0;
    }
    
    .offWhite {
        background-color: #FAF9F6;
    }

    .grey1 {
        background-color: #CCCCCC;
    }
    
    .grey2 {
        background-color: #929292;
    }

    .grey3 {
        background-color: #575757;
    }

    .offBlack {
        background-color: #1F1F21;
    }
}