@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .body1 {
        @apply text-lg font-medium
    }

    .body2 {
        @apply text-base font-medium
    }

    .bodyBold1 {
        @apply text-lg font-semibold
    }

    .bodyBold2 {
        @apply text-base font-medium
    }

    .bodySub1 {
        @apply text-sm font-medium
    }

    .bodySub2 {
        @apply text-xs font-medium
    }


    /* Dark Mode Background Colors */
    .dm-bg-900 {
        background-color: #1E1E1E;
    }

    .dm-bg-800 {
        background-color: #222;
    }

    .dm-bg-700 {
        background-color: #2B2B2B;
    }


    /* Dark Mode Border Colors */
    .dm-br-900 {
        background-color: #242424;
    }

    .dm-br-600 {
        background-color: #575757;
    }


    /* Dark Mode Text Colors */
    .dm-tx-400 {
        color: #6E6E6E;
    }

    .dm-tx-300 {
        color: #929292;
    }

    .dm-tx-200,
    .dm-ic-200 {
        color: #CCC;
    }

    .dm-tx-100,
    .dm-ic-100 {
        color: #E3E3E3;
    }


    /* Light Mode Background Colors */
    .lm-bg-000 {
        background-color: #FAFAFA;
    }

    .lm-bg-100 {
        background-color: #F1F1F1;
    }

    .lm-bg-200 {
        background-color: #E4E4E4;
    }


    /* Light Mode Border Colors */
    .lm-br-000 {
        background-color: #ECECEC;
    }

    .lm-br-300 {
        background-color: #979797;
    }


    /* Light Mode Text Colors */
    .lm-tx-600 {
        color: #8B8B8B;
    }

    .lm-tx-700 {
        color: #68686A;
    }

    .lm-tx-800,
    .lm-ic-800 {
        color: #444;
    }

    .lm-tx-900,
    .lm-ic-900 {
        color: #1F1F21;
    }
}